<div style="max-width: 400px">


<div class="modal-header">
    
    <h2 class="modal-title" id="modalLabel">Paciente</h2>
    <a type="button" aria-label="Fechar" (click)="activeModal.dismiss()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i> </span>
    </a>

    
</div>

<div class="modal-body text-left">
    <div>
            <p> {{ paciente.nomePaciente }} {{ paciente.sobrenomePaciente }}</p>
            <p> CPF: {{ paciente.cpfPaciente }}</p>
            <!-- <p> {{ atendimento.dataAtendimento! | mask: 'd0/M0/0000' }}</p> -->
            <p> Data de nascimento: {{ paciente.dataNascimentoPaciente | date: 'dd/MM/yyyy'}}</p>
            
    </div>
    <div class="border m-3">
        <h3 class="p-3">Informações de contato</h3>
        
        <h4 class="border bg-primary p-3 m-0 text-white">Telefones de contato</h4>
        <div class="p-2 bg-light" *ngFor="let telefoneContato of paciente.telefonesContato; let i = index;">
            <div>
                <p>({{ telefoneContato.ddd }}) {{ telefoneContato.numTelefone }} <i class="small">({{ telefoneContato.dataAtualizacao | date: 'dd/MM/yyyy'}})</i></p>
            </div>
        </div>
        <p class="p-3" *ngIf="paciente.telefonesContato!.length == 0"><i>Nenhum telefone cadastrado</i></p>

        <h4 class="border bg-primary p-3 m-0 text-white">Emails de contato</h4>
        <div class="p-2 bg-light" *ngFor="let email of paciente.emails; let i = index;">
            <div>
                <p>{{ email.enderecoEmail }} <i class="small">({{ email.dataAtualizacao | date: 'dd/MM/yyyy'}})</i></p>
            </div>
        </div>
        <p class="p-3" *ngIf="paciente.emails!.length == 0"><i>Nenhum email cadastrado</i></p>

    </div>

    <div class="border m-3">
        <h3 class="p-3">Informações odontológicas</h3>
        
        <h4 class="border bg-primary p-3 m-0 text-white">Dados do convênio</h4>
        <div class="p-2 bg-light" *ngFor="let dadosConvenioPaciente of paciente.dadosConvenioPacientes; let i = index;">
            <div>
                <p>{{ dadosConvenioPaciente.convenio!.nomeConvenio }}: {{ dadosConvenioPaciente.numCarteirinha}}
                    <i class="small">(atualizado em {{ dadosConvenioPaciente.dataInformacao | date: 'dd/MM/yyyy'}})</i>    
                </p>
            </div>
        </div>
        <p class="p-3" *ngIf="paciente.dadosConvenioPacientes!.length == 0"><i>Nenhum dado de convênio</i></p>

        <h4 class="border bg-primary p-3 m-0 text-white">Condições odontolológicas</h4>
        <div class="p-2 bg-light" *ngFor="let condicaoDentePaciente of paciente.condicaoDentePacientes; let i = index;">
            <div>
                <p>Dente {{ condicaoDentePaciente.dente }}-{{ condicaoDentePaciente.face }}: {{ condicaoDentePaciente.condicao }} 
                    <i class="small">({{ condicaoDentePaciente.dataInformacao | date: 'dd/MM/yyyy'}})</i></p>
            </div>
        </div>
        <p class="p-3" *ngIf="paciente.condicaoDentePacientes!.length == 0"><i>Nenhuma condição diagnosticada</i></p>
        
    </div>



    
</div>

<div class="modal-footer">
    <a href="#" title="Editar" alt="Editar" class="btn btn-xs btn-primary" (click)="activeModal.close()" [routerLink]="['/pacientes/editar', paciente.id]">
        <i class="fa fa-edit" aria-hidden="true"></i> Editar
    </a>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
</div>

</div>
