<div style="max-width: 400px">


<div class="modal-header">
    
    <h2 class="modal-title" id="modalLabel">Paciente</h2>
    <a type="button" aria-label="Fechar" (click)="activeModal.dismiss()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i> </span>
    </a>

    
</div>

<div class="modal-body text-left">
    
    <h3> {{ paciente.nomePaciente }} {{ paciente.sobrenomePaciente }}</h3>
    
    <div class="m-3">
        <div class="p-3">
            <p> CPF: {{ paciente.cpfPaciente }}</p>
            <p> Data de nascimento: {{ paciente.dataNascimentoPaciente | date: 'dd/MM/yyyy'}}</p>
        </div>
    </div>
    
    <div class="border m-3">
        <h3 class="bg-primary text-white p-3 m-0">Responsável</h3>
        <div class="p-3">
            <p>Nome: {{ paciente.nomeResponsavel }} {{ paciente.sobrenomeResponsavel }}</p>
            <p> CPF: {{ paciente.cpfResponsavel }}</p>
            <p> Data de nascimento: {{ paciente.dataNascimentoResponsavel | date: 'dd/MM/yyyy'}}</p>
        </div>
    </div>
    
    <div class="border m-3">
        <h3 class="border bg-primary p-3 m-0 text-white">Informações de contato</h3>
        
        <div class="border p-3 m-0 bg-light">
            <h4 class="p-0 m-0">Telefones de contato</h4>
            <div class="p-0" *ngFor="let telefoneContato of paciente.telefonesContato; let i = index;">
            <div>
                <p>({{ telefoneContato.ddd }}) {{ telefoneContato.numTelefone }} <i class="small">({{ telefoneContato.dataAtualizacao | date: 'dd/MM/yyyy'}})</i></p>
            </div>
        </div>
        <p class="p-3" *ngIf="paciente.telefonesContato!.length == 0"><i>Nenhum telefone cadastrado</i></p>
        </div>
        
        <div class="border p-3 m-0 bg-light">
            <h4 class="p-0 m-0">Emails de contato</h4>
            <div class="p-0" *ngFor="let email of paciente.emails; let i = index;">
            <div>
                <p>{{ email.enderecoEmail }} <i class="small">({{ email.dataAtualizacao | date: 'dd/MM/yyyy'}})</i></p>
            </div>
        </div>
        <p class="p-3" *ngIf="paciente.emails!.length == 0"><i>Nenhum email cadastrado</i></p>
        </div>
        

    </div>

    <div class="border m-3">
        <h3 class="border bg-primary p-3 m-0 text-white">Informações odontológicas</h3>
        
        <div class="border bg-light">
            <h4 class="p-3 m-0">Dados do convênio</h4>
            <div class="p-3" *ngFor="let dadosConvenioPaciente of paciente.dadosConvenioPacientes; let i = index;">
                <div>
                    <p>{{ dadosConvenioPaciente.convenio!.nomeConvenio }}: {{ dadosConvenioPaciente.numCarteirinha}}
                        <i class="small">(atualizado em {{ dadosConvenioPaciente.dataInformacao | date: 'dd/MM/yyyy'}})</i>    
                    </p>
                </div>
            </div>
        <p class="p-3" *ngIf="paciente.dadosConvenioPacientes!.length == 0"><i>Nenhum dado de convênio</i></p>
        </div>
        

        <div class="border bg-light">
            <h4 class="p-3 m-0">Condições odontolológicas</h4>
            <div class="p-3" *ngFor="let condicaoDentePaciente of paciente.condicaoDentePacientes; let i = index;">
                <div>
                    <p>Dente {{ condicaoDentePaciente.dente }}-{{ condicaoDentePaciente.face }}: {{ condicaoDentePaciente.condicao }} 
                        <i class="small">({{ condicaoDentePaciente.dataInformacao | date: 'dd/MM/yyyy'}})</i></p>
                </div>
            </div>
            <p class="p-3" *ngIf="paciente.condicaoDentePacientes!.length == 0"><i>Nenhuma condição diagnosticada</i></p>
        </div>
        
        
    </div>



    
</div>

<div class="modal-footer">
    <a href="#" title="Editar" alt="Editar" class="btn btn-xs btn-primary" (click)="activeModal.close()" [routerLink]="['/pacientes/editar', paciente.id]">
        <i class="fa fa-edit" aria-hidden="true"></i> Editar
    </a>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
</div>

</div>
