<h3>PAGAMENTOS</h3>

<div class="container">
    <div class="row">
        <div class="col-4">
            <button class="btn btn-primary" href="#">
                <i class="fa fa-pen"></i>
                LANÇAR PAGAMENTOS
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-danger" href="#">
                <i class="fa fa-add"></i>
                NOVA DATA DE REPASSE
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-secondary" href="#">
                <i class="fa fa-eye"></i>
                RELATÓRIOS
            </button>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <h4>DATA DE REPASSE</h4>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Dentista</th>
                <th scope="col" *ngFor="let dataRepasse of datasRepasse">{{ dataRepasse }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dentista of dentistas">
                <th>{{ dentista.nomeDentista }} {{ dentista.sobrenomeDentista }} </th>
                <th *ngFor="let linhaDeRepasse of repassesDentistas(dentista)">{{ linhaDeRepasse }}</th>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <br/>
    <h4>RELATÓRIO DE REPASSES</h4>
    <form #formDentistaDataRepasse="ngForm" class="inline-form">
        <div class="form-group">
            
            <!--<label for="dentista">Dentista</label>
            <ng-select name="dentista" [items]="dentistas" bindLabel="nomeDentista" [(ngModel)]="dentistas" placeholder="Selecione um dentista"> </ng-select>
            -->
            <div class="container">
                <div class="row">
                    
                    <!--
                    <div class="col-3">
                        <ng-select [(ngModel)]="dentistas" placeholder="Dentista">
                            <ng-option 
                                *ngFor="let dentista of dentistas" 
                                [value]="dentista.nomeDentista">
                                {{ dentista.nomeDentista }}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="col-3">
                        <ng-select [(ngModel)]="datasRepasse" placeholder="Data de repasse">
                            <ng-option 
                                *ngFor="let dataRepasse of datasRepasse" 
                                [value]="dataRepasse">
                                {{ dataRepasse }}
                            </ng-option>
                        </ng-select>
                    </div>
                -->
                    
                    <div class="col-3">
                        <select 
                            class="form-control"
                            name="dentista"
                            [(ngModel)]="dentista">
                            <option></option>
                            <option
                                *ngFor="let dentista of dentistas"
                                [ngValue]="dentista">
                                {{ dentista.nomeDentista }}
                            </option>

                        </select>
                    </div>

                    <div class="col-3">
                        <input type="text" class="form-control" id="dentistaId" name="dentistaId" size="20" [(ngModel)]="dentistaId" placeholder="Dentista Id">
                    </div>
                    
                    dentistaId {{ dentistaId }}
                    
                </div>

                


            </div>
        </div>
    </form>
    <br/>

    <h5>Procedimentos</h5>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Dentista</th>
                <th scope="col">Data atendimento</th>
                <th scope="col">Convênio</th>
                <th scope="col">GTO</th>
                <th scope="col">Forma pagamento</th>
                <th scope="col">Data envio</th>
                <th scope="col">Verificado</th>
                <th scope="col">Procedimento</th>
                <th scope="col">Data repasse</th>
            </tr>
        </thead>
        <tbody *ngFor="let atendimento of listarAtendimentosPorDentistaPorDataRepasse(dentistaId, '2022-03-08')"> 
            
                <tr *ngFor="let procedimentoAplicado of atendimento.procedimentosAplicados">
                    <th>{{ atendimento.dentista!.nomeDentista }} {{ atendimento.dentista!.sobrenomeDentista }}</th>
                    <th>{{ atendimento.dataAtendimento }}</th>
                    <th>{{ atendimento.convenio }}</th>
                    <th>{{ atendimento.numeroGTO }}</th>
                    <th>{{ atendimento.formaPagamento }}</th>
                    <th>{{ atendimento.dataEnvio }}</th>
                    <th>{{ atendimento.verificado }}</th>
                    <th>{{ procedimentoAplicado.procedimento }}</th>
                    <th>{{ procedimentoAplicado.dataRepasse }}</th>
                </tr>
                <!--<tr *ngFor="let procedimentoAplicado of atendimento.procedimentosAplicados">

                </tr>-->
            
            
        </tbody>
    </table>

</div>


<!--
    public id?: number,
        public dentista?: Dentista,
        public paciente?: string,
        public dataAtendimento?: string,
        public convenio?: string,
        public numeroGTO?: string,
        public encaminhadoPor?: string,
        public formaPagamento?: string,
        public dataEnvio?: string,
        public verificado?: boolean,
-->