<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>Atendimentos</h1>
        </div>
        <div class="col-2">
            <a href="#" title="Novo" alt="Novo" class="btn btn-xs btn-primary rounded-circle" [routerLink]="['/atendimentos/novo']">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div>
            <form>
                <input type="search" id="search" name="search" placeholder="GTO, paciente ou dentista..." size="25" [(ngModel)]="search">
                <button class="btn" (click)="filtrarAtendimentos(search)">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn" (click)="listarTodos()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </form>
            
        </div>
    </div>

    <div class="row">
        <div>
            <form>
                <input type="date" id="searchDate" name="searchDate" size="25" [(ngModel)]="searchDate">
                <button class="btn" (click)="filtrarAtendimentosPorData(searchDate)">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn" (click)="listarTodos()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
            </form>
            
        </div>
    </div>

</div>

<br/>


<div class="container">
    <div class="row mb-2">
        <div class="col-2">
            <h6>Dentista</h6>
        </div>
        <div class="col-3">
            <h6>Paciente</h6>
        </div>
        <div class="col-2">
            <h6>Data</h6>
        </div>
        <div class="col-1">
            <h6>Núm. GTO</h6>
        </div>
        <div class="col-1">
            <h6>Verificado</h6>
        </div>
        
    </div>
</div>

<div class="container" *ngFor="let atendimento of atendimentos">
    
    <div class="row mb-2">
        <div class="col-2 d-inline-block text-truncate">
            <h6><small>{{ atendimento?.dentista?.nomeDentista }} {{ atendimento?.dentista?.sobrenomeDentista}}</small></h6>
        </div>
        <div class="col-3 d-inline-block text-truncate">
            <h6><small>{{ atendimento.paciente }}</small></h6>
        </div>
        <div class="col-2 d-inline-block text-truncate">
            <h6><small>{{ atendimento.dataAtendimento }}</small></h6>
        </div>
        <div class="col-1 d-inline-block text-truncate">
            <h6><small>{{ atendimento.numGto }}</small></h6>
        </div>
        <div class="col-1 d-inline-block text-truncate">
            <h6><small><p *ngIf="atendimento.atendimentoVerificado==true"><i class="fa fa-check"></i></p></small></h6>
        </div>


        <div class="col-1">
            <button type="button" class="btn btn-link btn-sm" (click)="abrirModalAtendimento(atendimento)">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-1">
            <a href = "#" title="Editar" alt="Editar" class="btn btn-link btn-sm" [routerLink]="['/atendimentos/editar', atendimento.id]">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-1">
                <button type="button" class="btn btn-link btn-sm" (click)="remover($event, atendimento)">
                    <i class="fa fa-times" aria-hidden="true"></i> 
                </button>
        </div>
    </div>
</div>

<div class="container">
    <p *ngIf="atendimentos.length===0" class="p-3"><i>Nenhum atendimento</i></p>
</div>