<div class="conteiner-fluid">

  <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
    <!--<div class="conteiner-fluid">-->
      <div class="navbar-header">

        <div class="row">
          <div class="col-10">
            <a class="navbar-brand" href="home/">
              {{ title }}
            </a>
          </div>

          <div class="col-2">
            <a type="button" class="navbar-brand" [routerLink]="['login']">
              <div class="d-inline-block">
                <i class="fa fa-user"></i> {{ usuarioLogado.nome }}
              </div>
              <div class="d-inline-block" *ngIf="usuarioLogado.nome==null">
                &#160;Login
              </div>
            </a>
          </div>

        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item"
            *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA' || usuarioLogado.perfil==='FUNC'">
              <a class="nav-link" [routerLink]="['agenda']">Agenda</a>
            </li>
            <li class="nav-item"
            *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA' || usuarioLogado.perfil==='FUNC'">
              <a class="nav-link" [routerLink]="['pacientes']">Pacientes</a>
            </li>

            <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA'" class="nav-item">
              <a class="nav-link" [routerLink]="['atendimentos']">Atendimentos</a>
            </li>
            <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA'" class="nav-item">
              <a class="nav-link" [routerLink]="['dentistas']">Dentistas</a>
            </li>
            <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE'" class="nav-item">
              <a class="nav-link" [routerLink]="['pagamentos']">Pagamentos</a>
            </li>
            <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE'" class="nav-item">
              <a class="nav-link" [routerLink]="['usuarios']">Admin</a>
            </li>

            <!--<li class="nav-item">
              <a class="nav-link" [routerLink]="['login']">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link">
                <i class="fa fa-user"></i>  
                {{ usuarioLogado.login }}
              </a>
            </li>-->
            
            <li class="nav-item"
            *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA' || usuarioLogado.perfil==='FUNC'">
              <a class="nav-link" [routerLink]="['login']" (click)="logout()">Sair</a>
            </li>
            
          </ul>
        </div>

      </div>
    <!--</div>-->
  </nav>

  <router-outlet></router-outlet>

</div>


  <!--
            <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA'" class="nav-item">
              <a class="nav-link" [routerLink]="['atendimentos']">Atendimentos</a>
            </li>
            <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA'" class="nav-item">
              <a class="nav-link" [routerLink]="['dentistas']">Dentistas</a>
            </li>
            <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE'" class="nav-item">
              <a class="nav-link" [routerLink]="['pagamentos']">Pagamentos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['atendimentos']">Atendimentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['dentistas']">Dentistas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['pagamentos']">Pagamentos</a>
            </li>  
-->

