
<tr>
    <th>
        <h2>DENTISTAS</h2>
    </th>
    <th>
        <a href = "dentistas/novo">
            <button type="button" class="btn btn-primary btn-floating">
                <i class="fas fa-plus"></i>
            </button>
        </a>
    </th>
</tr>




<table>
    <tr>
        <th>
            Dentista
        </th>
    </tr>
    <tr *ngFor="let dentista of dentistas">
        <td>
            {{ dentista.nomeDentista }} {{ dentista.sobrenomeDentista }}
        </td>
        <td>
            <a href = "#" title="Editar" alt="Editar" [routerLink]="['/dentistas/editar', dentista.id]">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            <a href = "#" title="Editar" alt="Editar" [routerLink]="['/dentistas/editar', dentista.id]">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            <a href = "#" title="Remover" alt="Remover" (click)="remover($event, dentista)">
                <i class="fa fa-times" aria-hidden="true"></i> 
            </a>
        </td>
    </tr>
</table>

<!--
<a href="#" title="Editar" alt="Editar" class="btn btn-xs btn-primary" [routerLink]="['/dentistas/editar', dentista.id]">
    <i class="fa fa-edit" aria-hidden="true"></i> Editar
</a>
<a href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger" (click)="remover($event, dentista)">
    <i class="fa fa-times" aria-hidden="true"></i> Remover
</a>
-->

