<div class="container">
    <h1 class="text-secondary pb-3">
        <i class="fa fa-tooth"></i>
        ALISYSTEM
    </h1>

    <div class="border rounded p-3 m-3 border-primary text-primary" type="button" [routerLink]="['/agenda/']">
        <h4><i class="fa fa-calendar"></i> Agenda</h4>
    </div>
    <div class="border rounded p-3 m-3 border-secondary text-secondary" type="button" [routerLink]="['/pacientes/']">
        <h4><i class="fa fa-hospital-user"></i> Pacientes</h4>
    </div>
    <div class="border rounded p-3 m-3 border-success text-success" type="button" [routerLink]="['/atendimentos/']"
        *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA'">
        <h4><i class="fa fa-bed"></i> Atendimentos</h4>
    </div>
    <div class="border rounded p-3 m-3 border-danger text-danger" type="button" [routerLink]="['/dentistas/']"
        *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA'">
        <h4><i class="fa fa-user-doctor"></i> Dentistas</h4>
    </div>
    <div class="border rounded p-3 m-3 border-warning text-warning" type="button" [routerLink]="['/pagamentos/']"
        *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE'">
        <h4><i class="fa fa-dollar"></i> Pagamentos</h4>
    </div>
    <div class="border rounded p-3 m-3 border-info text-info" type="button" [routerLink]="['/login/']">
        <h4><i class="fa fa-user"></i> Login</h4>
    </div>
    
</div>




<!--
            <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA'" class="nav-item">
              <a class="nav-link" [routerLink]="['atendimentos']">Atendimentos</a>
            </li>
            <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='DENTISTA'" class="nav-item">
              <a class="nav-link" [routerLink]="['dentistas']">Dentistas</a>
            </li>
            <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE'" class="nav-item">
              <a class="nav-link" [routerLink]="['pagamentos']">Pagamentos</a>
            </li>
-->